<div ng-if="estadoEnable">

	<div ng-show="cs.message" class="alert {{cs.messageClass}}">
		<div ng-repeat="m in cs.message">
			<i class="fa fa-times-circle-o"></i>
			<strong > {{m.message}} </strong>
		</div>
	</div>

	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title" ng-if="estado.id == null">Cadastro de Estado</h3>
			<h3 class="box-title" ng-if="estado.id != null">Alteração de Estado</h3>
		</div>
		<form name="estadoForm" class="form-horizontal" role="form" novalidate>
			<div class="box-body">
				<div class="form-group" ng-class="{ 'has-error' : estadoForm.nome.$invalid && estadoForm.nome.$touched, 'has-success has-feedback' : estadoForm.nome.$valid}">
					<label for="ano" class="col-lg-2 control-label">Nome: *</label>
					<div class="col-lg-5">
						<input type="text"
							   id="nome"
							   name="nome"
							   class="form-control"
							   ng-model="estado.nome"
							   ng-required="true"
							   ng-minlength="4"
							   ng-maxlength="40"
							   autocomplete="off"
							   />

						<h6 class="help-block">
							<i class="fa fa-info-circle"></i>
							Nome do Estado
						</h6>

						<div ng-show="estadoForm.exercicio.$valid">
							<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							<span id="inputSuccess5Status" class="sr-only">(success)</span>
						</div>

						<h6 ng-show="estadoForm.exercicio.$error.required && estadoForm.exercicio.$touched" class="help-block">
							<i class="fa fa-times-circle-o"></i>
							Campo Obrigatório.
						</h6>
						<h6 ng-show="estadoForm.exercicio.$error.minlength && estadoForm.exercicio.$touched" class="help-block">
							<i class="fa fa-times-circle-o"></i>
							Este campo deve ter conter 4 digitos.
						</h6>
						<h6 ng-show="estadoForm.exercicio.$error.maxlength && estadoForm.exercicio.$touched" class="help-block">
							<i class="fa fa-times-circle-o"></i>
							Este campo deve ter conter 4 digitos.
						</h6>
					</div>
				</div>

				<div class="form-group" ng-class="{ 'has-error' : estadoForm.sigla.$invalid && estadoForm.sigla.$touched, 'has-success has-feedback' : estadoForm.sigla.$valid}">
					<label for="sigla" class="col-lg-2 control-label">Sigla: *</label>
					<div class="col-lg-5">
						<input id="sigla" name="sigla" type="text" class="form-control" ng-model="estado.sigla" ng-required="true"/>

						<h6 class="help-block">
							<i class="fa fa-info-circle"></i>
							Sigla do Estado
						</h6>
						<div ng-show="estadoForm.sigla.$valid">
							<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
							<span id="inputSuccess5Status" class="sr-only">(success)</span>
						</div>
						<h6 ng-show="estadoForm.sigla.$error.required && estadoForm.sigla.$touched" class="help-block">
							<i class="fa fa-times-circle-o"></i>
							Campo Obrigatório.
						</h6>
					</div>
				</div>

				<div class="checkbox col-lg-offset-2" ng-show="cs.dea.anReferencia != null"  >
					<label>
						<input name="check" type="checkbox" ng-model="cs.check"> Declaro que as despesas em questão referem-se aos valores gastos, porém não pagos, no exercício de {{cs.dea.anReferencia}}.
					</label>
				</div>

			</div>


			<div class="box-footer">

				<div class="form-group">
			      <div class="col-lg-offset-2 col-lg-10">

			      <button id="btnmodal"
								name="btnmodal"
								class="btn btn-primary"
								ng-disabled="isClean() || estadoForm.$invalid"
								ng-click="updateEstado()"
								ng-if="estado.id">
							<span class="glyphicon glyphicon-ok-sign"></span> Alterar
						</button>

						<button id="insertdea"
								name="insertdea"
								class="btn btn-primary"
								ng-disabled="isClean() || estadoForm.$invalid"
								ng-click="addEstado()"
								ng-if="!estado.id">
							<span class="glyphicon glyphicon-ok-sign"></span> Salvar
						</button>

			            <span id="cancel" name="cancel" class="btn btn-default" ui-sref="estados"><span class="glyphicon glyphicon-remove-sign"></span> Voltar </span>

			        </div>
			    </div>
			</div>

		</form>
	</div>

</div>
