<div>
    <div class='col-xl-4'>
        <div class='form-group'>
            <label class=' control-label'>{{sourceListLabel}}</label>
            <div class='list-group dual-list-group' style='height: 200px; overflow-y: auto'>
                <button type='button' 
                        class='list-group-item' 
                        ng-repeat='item in sourceList' 
                        ng-click='moverParaDireita(item, $index)'> 
					{{item[label]}} 
				</button>
            </div>
        </div>
    </div>

    <div class='col-xl-4'>
        <div style='height: 200px'>
            <div style='height: 80px' />
            <button type='button' class='btn btn-default btn-block' ng-click='moverTodosParaDireita()'>Mover Todos</button>
            <button type='button' class='btn btn-default btn-block' ng-click='moverTodosParaEsquerda()'>Remover Todos</button>
        </div>
    </div>

    <div class='col-xl-4'>
        <div class='form-group'>
            <label class=' control-label'>{{targetListLabel}}</label>
            <div class='list-group dual-list-group' style='height: 200px; overflow-y: auto'>
                <button type='button' 
                        class='list-group-item' 
                        ng-repeat='item in targetList' 
                        ng-click='moverParaEsquerda(item, $index)'> 
                    {{item[label]}} 
                </button>
            </div>
        </div>
    </div>
</div>